<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 style="display: inline;" >User {{single_user[0].id}}</h1>
    <a style="display: inline;" href="/users">Home</a>
    <div>
        <p>Full Name: {{single_user[0].first_name}} {{single_user[0].last_name}}</p>
        <p>Email: {{single_user[0].email}}</p>
        <p>Created On: {{single_user[0].created_at}}</p>
        <p>Last Updated on: {{single_user[0].updated_at}}</p>
    </div>
    <p><a href="/users/{{single_user[0].id}}/edit">Edit</a> | <a href="/users/{{single_user[0].id}}/destroy">Delete</a></p>
</body>
</html>